<template>
  <div>
    <v-navigation-drawer
      v-model="drawer"
      :mini-variant="miniVariant"
      :clipped="clipped"
      fixed
      temporary
      app
    >
      <v-list>
        <v-list-item
          v-for="(item, i) in items"
          :key="i"
          :to="item.to"
          router
          exact
        >
          <v-list-item-action>
            <v-icon>{{ item.icon }}</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title v-text="item.title" />
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>
    <v-app-bar :clipped-left="clipped" fixed app>
      <v-app-bar-nav-icon @click.stop="drawer = !drawer" />
      <NuxtLink to="/">
        <v-toolbar-title v-text="title" />
      </NuxtLink>
      <v-spacer />
      <LoginForm v-if="!$store.state.auth.accessToken" />
      <RegisterForm v-if="!$store.state.auth.accessToken" />
      <LogoutForm v-if="$store.state.auth.accessToken" />
    </v-app-bar>
  </div>
</template>

<script>
import LoginForm from './LoginForm.vue'
import RegisterForm from './RegisterForm.vue'
import LogoutForm from './LogoutForm.vue'
export default {
  components: {
    LoginForm,
    RegisterForm,
    LogoutForm
  },
  data () {
    return {
      clipped: false,
      drawer: false,
      items: [
        {
          icon: 'mdi-apps',
          title: 'Main Page',
          to: '/'
        },
        {
          icon: 'mdi-apps',
          title: 'Meals Page',
          to: '/meals'
        }
      ],
      miniVariant: false,
      title: 'Stołówka'
    }
  }
}
</script>

<style lang="scss" scoped>
</style>
