<template>
  <v-dialog v-model="loginDialog" persistent max-width="600px">
    <template #activator="{ on, attrs }">
      <v-btn
        color="primary"
        dark
        v-bind="attrs"
        style="margin-right: 6px"
        v-on="on"
      >
        Login
      </v-btn>
    </template>
    <v-card>
      <v-card-title>
        <span class="text-h5">Login</span>
      </v-card-title>
      <v-card-text>
        <v-container>
          <v-form ref="form" v-model="valid" lazy-validation>
            <v-text-field
              v-model="identity"
              :rules="[(v) => !!v || 'Username/Email is required']"
              label="Username/Email"
            />
            <v-text-field
              v-model="password"
              :rules="[(v) => !!v || 'Password is required']"
              label="Password"
              type="password"
            />
          </v-form>
        </v-container>
      </v-card-text>
      <v-card-actions>
        <v-spacer />
        <v-btn color="error" @click="loginDialog = false">
          Close
        </v-btn>
        <v-btn color="blue darken-1" @click="login">
          Login
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  data: () => ({
    loginDialog: false,
    valid: true,
    identity: '',
    password: ''
  }),

  methods: {
    login () {
      if (this.$refs.form.validate()) {
        const myHeaders = new Headers()
        myHeaders.append('Content-Type', 'application/json')

        const raw = JSON.stringify({
          identity: this.identity,
          password: this.password
        })

        const requestOptions = {
          method: 'POST',
          headers: myHeaders,
          body: raw,
          redirect: 'follow'
        }

        fetch('http://localhost:8000/api/v1/auth/login', requestOptions)
          .then((response) => {
            if (!response.ok) {
              throw new Error('Unable to login with provided credentials')
            }
            return response.json()
          })
          .then(response => this.$store.commit('auth/setAccesToken', response.data))
          .then(() => {
            this.identity = ''
            this.password = ''
            this.loginDialog = false
            this.$store.commit('alerts/openSnackbar', 'Succesfully logged in')
          })
          .catch(error => this.$store.commit('alerts/openSnackbar', error))
      }
    }
  }
}
</script>

<style lang="scss" scoped>
</style>
