<template>
  <v-btn color="blue darken-1" @click="logout()">
    Logout
  </v-btn>
</template>

<script>
export default {
  methods: {
    logout () {
      this.$store.commit('alerts/openSnackbar', 'Logged out')
      this.$store.commit('auth/removeToken')
    }
  }
}
</script>
