<template>
  <v-dialog v-model="registerDialog" persistent max-width="600px">
    <template #activator="{ on, attrs }">
      <v-btn
        color="primary"
        dark
        v-bind="attrs"
        style="margin-right: 6px"
        v-on="on"
      >
        Register
      </v-btn>
    </template>
    <v-card>
      <v-card-title>
        <span class="text-h5">Create User Profile</span>
      </v-card-title>
      <v-card-text>
        <v-container>
          <v-form ref="form" v-model="valid" lazy-validation>
            <v-text-field
              v-model="username"
              :rules="[(v) => !!v || 'Username is required']"
              label="Username*"
              required
            />

            <v-text-field
              v-model="email"
              :rules="emailRules"
              label="E-mail*"
              required
            />

            <v-text-field
              v-model="password"
              :rules="[(v) => !!v || 'Password is required']"
              label="Password"
              type="password*"
              required
            />
            <v-row>
              <v-col cols="12" sm="6">
                <v-text-field
                  v-model="firstName"
                  label="First Name"
                />
              </v-col>
              <v-col cols="12" sm="6">
                <v-text-field
                  v-model="lastName"
                  label="Last Name"
                />
              </v-col>
            </v-row>
          </v-form>
        </v-container>
        <small>*indicates required field</small>
      </v-card-text>
      <v-card-actions>
        <v-spacer />
        <v-btn color="blue darken-1" text @click="registerDialog = false">
          Close
        </v-btn>
        <v-btn color="blue darken-1" text @click="register()">
          Register
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  data: () => ({
    registerDialog: false,
    valid: true,
    username: '',
    password: '',
    email: '',
    firstName: '',
    lastName: '',
    emailRules: [
      v => !!v || 'E-mail is required',
      v => /.+@.+\..+/.test(v) || 'E-mail must be valid'
    ]
  }),

  methods: {
    register () {
      if (this.$refs.form.validate()) {
        const myHeaders = new Headers()
        myHeaders.append('Content-Type', 'application/json')

        const raw = JSON.stringify({
          username: this.username,
          email: this.email,
          password: this.password,
          firstName: this.firstName,
          lastName: this.lastName
        })

        const requestOptions = {
          method: 'POST',
          headers: myHeaders,
          body: raw,
          redirect: 'follow'
        }

        fetch('http://localhost:8000/api/v1/user', requestOptions)
          .then((response) => {
            if (!response.ok) {
              throw new Error('Unable to register with provided creadentials')
            }
            return response.json()
          })
          .then(response =>
            this.$store.commit('alerts/openSnackbar', response.message)
          )
          .then(() => {
            this.$store.commit('alerts/openSnackbar', `Succesfully created user ${this.username}`)
            this.firstName = ''
            this.lastName = ''
            this.email = ''
            this.username = ''
            this.password = ''
            this.registerDialog = false
          })
          .catch(error => this.$store.commit('alerts/openSnackbar', error))
      }
    }
  }
}
</script>

<style lang="scss" scoped>
</style>
