<template>
  <v-snackbar v-model="snackbarStatus">
    {{ $store.state.alerts.text }}
    <template #action="{ attrs }">
      <v-btn color="pink" text v-bind="attrs" @click="$store.commit('alerts/closeSnackbar')">
        Close
      </v-btn>
    </template>
  </v-snackbar>
</template>

<script>
export default {
  computed: {
    snackbarStatus: {
      get () {
        return this.$store.state.alerts.snackbar
      },
      set (newState) {
        this.$store.commit('alerts/setSnackbarState', newState)
      }
    }
  }
}
</script>
