<template>
  <v-row>
    <v-col class="text-center page-essence">
      <span v-if="!$store.state.auth.accessToken">Witaj na stronie stołówki, proszę się zalogować!</span>
      <div v-else>
        <v-card
          class="mx-auto"
          tile
        >
          <v-row>
            <v-col cols="12">
              <span>Witaj na stronie stołówki</span>
            </v-col>
            <v-col cols="12" sm="6">
              <span>Username</span>
            </v-col>
            <v-col cols="12" sm="6">
              <span>{{ username }}</span>
            </v-col>
            <v-col cols="12" sm="6">
              <span>Email</span>
            </v-col>
            <v-col cols="12" sm="6">
              <span>{{ email }}</span>
            </v-col>
            <v-col cols="12" sm="6">
              <span>ID</span>
            </v-col>
            <v-col cols="12" sm="6">
              <span>{{ id }}</span>
            </v-col>
            <v-col cols="12" sm="6">
              <span>First Name</span>
            </v-col>
            <v-col cols="12" sm="6">
              <span>{{ firstName }}</span>
            </v-col>
            <v-col cols="12" sm="6">
              <span>Last Name</span>
            </v-col>
            <v-col cols="12" sm="6">
              <span>{{ lastName }}</span>
            </v-col>
          </v-row>
        </v-card>
      </div>
    </v-col>
  </v-row>
</template>

<script>
export default {
  data: () => ({
    username: '',
    email: '',
    firstName: '',
    lastName: '',
    id: ''
  }),
  watch: {
    '$store.state.auth.accessToken' (newToken) {
      if (newToken) {
        this.getMyData()
      }
    }
  },
  mounted () {
    if (this.$store.state.auth.accessToken) {
      this.getMyData()
    }
  },
  methods: {
    getMyData () {
      const myHeaders = new Headers()
      myHeaders.append('Authorization', `Bearer ${this.$store.state.auth.accessToken}`)

      const requestOptions = {
        method: 'GET',
        headers: myHeaders,
        redirect: 'follow'
      }

      fetch('http://localhost:8000/api/v1/user/me', requestOptions)
        .then(response => response.json())
        .then((result) => {
          this.email = result.data.email
          this.username = result.data.username
          this.firstName = result.data.firstName
          this.lastName = result.data.lastName
          this.id = result.data.id
        })
        .catch(error => this.$store.commit('alerts/openSnackbar', error))
    }
  }
}
</script>

<style lang="scss" scoped>
.page-essence{
  margin-top: 1.5rem;
}
</style>
