<template>
  <v-row>
    <v-col class="text-center page-essence">
      <span v-if="!$store.state.auth.accessToken">Witaj na stronie stołówki, proszę się zalogować!</span>
      <div v-else>
        <v-card>
          <v-row>
            <v-col cols="12">
              <span>{{ mealsDescription }}</span>
            </v-col>
          </v-row>
        </v-card>
        <v-card
          v-for="meal in meals"
          :key="meal.mealDate"
          style="margin-top: 30px; margin-bottom: 30px;"
        >
          <v-row>
            <v-col cols="12" md="3">
              <span>Meal Date:</span>
            </v-col>
            <v-col cols="12" md="9">
              <span>{{ Date(meal.mealDate).toString() }}</span>
            </v-col>
            <v-col cols="12" md="3">
              <span>First Course:</span>
            </v-col>
            <v-col cols="12" md="9">
              <span>{{ meal.firstCourse }}</span>
            </v-col>
            <v-col cols="12" md="3">
              <span>Second Course:</span>
            </v-col>
            <v-col cols="12" md="9">
              <span>{{ meal.secondCourse }}</span>
            </v-col>
            <v-col cols="12" md="3">
              <span>Tags:</span>
            </v-col>
            <v-col v-if="meal.tags" cols="12" md="9">
              <v-chip v-for="(tag, index) in meal.tags" :key="index" style="margin-right: 6px">
                {{ tag }}
              </v-chip>
            </v-col>
          </v-row>
        </v-card>
      </div>
    </v-col>
  </v-row>
</template>

<script>
export default {
  data: () => ({
    meals: [],
    mealsDescription: ''
  }),
  watch: {
    '$store.state.auth.accessToken' (newToken) {
      if (newToken) {
        this.getMealsData()
      }
    }
  },
  mounted () {
    if (this.$store.state.auth.accessToken) {
      this.getMealsData()
    }
  },
  methods: {
    getMealsData () {
      const myHeaders = new Headers()
      myHeaders.append('Authorization', `Bearer ${this.$store.state.auth.accessToken}`)

      const requestOptions = {
        method: 'GET',
        headers: myHeaders,
        redirect: 'follow'
      }

      fetch('http://localhost:8000/api/v1/meal', requestOptions)
        .then(response => response.json())
        .then((result) => {
          this.meals = result.data
          this.mealsDescription = result.message
        })
        .catch(error => this.$store.commit('alerts/openSnackbar', error))
    }
  }
}
</script>

<style lang="scss" scoped>
.page-essence{
  margin-top: 1.5rem;
}
</style>
