<template>
  <v-app dark>
    <v-main>
      <Header />
      <Snackbar />
      <v-container>
        <Nuxt />
      </v-container>
    </v-main>
    <v-footer :absolute="!fixed" app>
      <span>&copy; {{ new Date().getFullYear() }}</span>
      <span style="padding: 2px">Stworzone przez </span>
      <strong>Tomka Paciorowskiego</strong>
    </v-footer>
  </v-app>
</template>

<script>
import Header from '../components/Header.vue'
import Snackbar from '../components/Snackbar.vue'
export default {
  components: {
    Header,
    Snackbar
  },
  data () {
    return {
      fixed: true
    }
  }
}
</script>
